# SAGIP environment settings

APP_NAME=SAGIP
APP_VERSION=0.1.0

# Optional later:
# OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
# OPENTOPO_BASE_URL=https://api.opentopodata.org/v1/srtm30m
# OVERPASS_URL=https://overpass-api.de/api/interpreter